.footer 
   .left
      h3 weDev 
   .middle 
      h3 01. contact 
      p Want to be notified when i launch a new template or an update.<br>Just sign up and I will send you a notification by email
      form(action='')
         input(type='email' placeholder='Email')
         input(type='submit' value='SEND')
      ul 
         li 
            span <i class="fa fa-phone"></i> 
            span Phone 
            span +20123456789
         li 
            span <i class="fa fa-solid fa-envelope"></i> 
            span Email 
            span email@wedev.com
         li 
            span <i class="fa fa-location-arrow"></i>
            span address 
            span Add City Country
         
   .right
      h3 02. Social Media
      p Want to know more about us? ok then follow us on social media: 
      ul 
         li 
            span Facebook:
            span <i class="fa fa-facebook"></i> 
         li 
            span Instagram:
            span <i class="fa fa-instagram"></i> 
         li 
            span Twitter:
            span <i class="fa fa-twitter"></i> 
         li 
            span Github:
            span <i class="fa fa-github"></i> 