.header 
    ul 
        li 
            a(href='index.html') HOME 
        li 
            a(href='about.html') ABOUT 
        li 
            a(href='portfolio.html') PORTFOLIO 
        li 
            a(href='order.html') PRICES
        li 
            a(href='contactus.html') ORDER