.header 
    ul 
        li 
            a(href='index.html') HOME 
        li 
            a(href='about.html') ABOUT 
        li 
            a(href='portfolio.html') PORTFOLIO 
        li 
            a(href='order.html') PRICES
        li 
            a(href='contactus.html') CONTACT US

    .logo 
        img(src="src/logo.png", alt="logo img")

    .mobile-menu 
        span.bar
        span.bar
        span.bar