.sidebar 
    .logo 
        img(src="src/logo.png", alt="logo img")
    .social
        ul 
            li 
                a(href="#") <i class="fa fa-facebook"></i> 
            li 
                a(href="#") <i class="fa fa-instagram"></i> 
            li 
                a(href="#") <i class="fa fa-twitter"></i> 
            li 
                a(href="#") <i class="fa fa-github"></i> 