$primary: #ffc600;
$primaryAlt: #fdd23d;

$flatBlue: #5bc9e0;
$flatBlueAlt: #2980b9;

$flatGray: #7f8c8d;
$flatGrayAlt: #95a5a6;

$flatSilver: #bdc3c7;
$flatSilverAlt: #c3c3c3;

$flatBlack: #2B2A2F;
$flatBlackAlt: #2E2D33;
$flatBlackLight: #66656a;

$flatWhite: #ffffff;
$flatWhiteAlt: #ffffff24;
$flatDarkWhite: #efefef;

$flatDark: #2e2d33;
$flatDarkAlt: #36353b;
$flatDarkAltLight: #36353b84;

$lightBG: #36353b33;
$ultraLightBG: #36353b10;
$flatOffwhite: #fdfaf4;