$primary: #fbc531;
$primaryAlt: #e1b12c;

$flatBlue: #3498db;
$flatBlueAlt: #2980b9;

$flatGray: #7f8c8d;
$flatGrayAlt: #95a5a6;

$flatSilver: #bdc3c7;
$flatSilverAlt: #ecf0f1;

$flatBlack: #2f3640;
$flatBlackAlt: #353b48 ;