.page {
  .footer {
    width: calc(100% - 70px);
    float: right;
    padding: 30px 10px;
    //for a dotted background
    background-image: radial-gradient(#3f3f40 20%, transparent 20%),
      radial-gradient($flatSilver 20%, transparent 20%);
    background-color: #29282d;
    background-size: 7px 7px;
    //for a dotted background

    display: flex;
    .left {
      flex: 1;
      position: relative;
      h3 {
        font-weight: 600;
        font-size: 4em;
        color: $flatWhiteAlt;
        text-transform: uppercase;
        letter-spacing: 25px;
        position: absolute;
        bottom: 0;
        left: 40px;
        transform: rotate(270deg);
        transform-origin: 0 0;
      }
    }
    .middle,
    .right {
      flex: 2;
      h3 {
        color: $flatBlue;
        margin-bottom: 40px;
        text-transform: uppercase;
        font-size: 0.9em;
      }
      p {
        color: $flatSilverAlt;
        font-size: 0.81em;
        margin-bottom: 15px;
        width: 90%;
      }
    }
    .middle {
      margin-right: 50px;
      form {
        position: relative;
        width: 90%;
        margin-top: 55px;
        input[type="email"] {
          position: absolute;
          width: 70%;
          top: 0;
          left: 0;
          padding: 11.5px;
          background-color: transparent;
          border: 1px solid $primary;
          font-weight: 400;
          font-size: 1em;
          color: $flatWhite;
          &:focus-visible {
            border: 1px solid $flatBlue;
            border-radius: none;
            outline: none;
          }
        }
        input[type="submit"] {
          position: absolute;
          width: 30%;
          top: 0;
          left: 70%;
          padding: 14px;
          background-color: $primary;
          color: $flatWhite;
          border: none;
          cursor: pointer;
          &:hover {
            background-color: $primaryAlt;
          }
        }
      }
      ul {
        margin-top: 150px;
        list-style: none;
        color: $flatSilver;
        li {
          margin-bottom: 30px;
          span {
            i {
              color: $primary;
              font-size: 1.5em;
              width: 30px;
            }
            a {
              text-decoration: none;
              color: $flatWhite;
              &:hover {
                color: $primary;
              }
            }
          }
          span.element {
            font-weight: 600;
            display: inline-block;
            width: 73px;
          }
          span.description {
            color: $flatWhite;
          }
        }
      }
    }
    .right {
      ul {
        list-style: none;
        margin-top: 50px;
        li {
          margin-bottom: 50px;
          span {
          }
          span.element {
            color: $flatSilver;
            font-weight: 600;
            display: inline-block;
            width: 120px;
          }
          span.description {
            color: $flatWhite;
            a {
              text-decoration: none;
              color: $flatWhite;
              border: 1px solid $flatWhite;
              display: inline-block;
              text-align: center;
              width: 35px;
              height: 35px;
              &:hover {
                color: $primary;
                border: 1px solid $primary;
              }
              i {
                margin-top: 8px;
              }
            }
          }
        }
      }
    }
  }
  .footer-banner {
    float: right;
    background-color: $flatBlack;
    color: $flatGray;
    width: calc(100% - 70px);
    padding: 10px;
    text-align: center;
    font-weight: 600;
    font-size: 0.9em;
    letter-spacing: 2px;
    text-transform: uppercase;
    .copy {
      font-size: 1.1em;
      font-weight: bolder;
    }
  }
}
