.page {
  .header {
    width: calc(100% - 70px);
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    float: right;
    height: 80px;
    background-color: $flatBlack;
    color: $flatWhite;
    .logo {
      display: none;
    }
    .mobile-menu {
      display: none;
    }
    ul {
      padding: 30px;
      margin-right: 30px;
      float: right;
      li {
        display: inline;
        margin: 20px;
        cursor: pointer;
        a {
          color: $flatWhite;
          text-decoration: none;
          font-weight: 600;
          font-size: 0.9em;
          &:hover {
            color: $primary;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .page {
    .header {
      width: 100%;
      float: none;
      .logo {
        display: block;
        img {
          width: 50px;
          margin: 15px;
        }
      }
      .mobile-menu {
        display: block;
        float: right;
        position: relative;
        top: -60px;
        right: 2%;
        cursor: pointer;
        &:hover {
          .bar {
            width: 55px !important;
            border: 1px solid $primary;
          }
        }
        .bar {
          display: block;
          border: 1px solid $flatWhite;
          margin-bottom: 13px;
        }
        .bar:first-child {
          width: 55px;
        }
        .bar:nth-child(2) {
          width: 40px;
        }
        .bar:nth-child(3) {
          width: 25px;
        }
      }
      .bars-x {
        top: -45px;
        .bar {
            width: 55px!important;
            margin-bottom: 0;
        }
        .bar:first-child {
            transform: rotateZ(45deg);
        }
        .bar:nth-child(2) {
            display: none;
        }
        .bar:nth-child(3) {
            transform: rotateZ(135deg);
        }
      }
      ul {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 0;
        height: calc(100vh - 80px);
        margin-top: 80px;
        text-align: center;
        overflow: hidden;
        background-color: $flatDark;
        padding: 0 !important;
        li {
          display: block;
          margin-bottom: 8%;
          a {
          }
        }
      }
      .show {
        width: 100%;
      }
    }
  }
}
