.page {
    .page-content {
        width: calc(100% - 70px);
        float: right;
        margin-top: 80px;     
    }
}

@media screen and (max-width: 768px) {
    .page {
        .page-content {
            width: 100%;
            float: none;
        }
    }
}