.sidebar {
    width: 70px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    background-color: $flatBlackAlt;
    color: $flatWhite;
    overflow: hidden;
    .logo {
        img {
            width: 50px;
            margin: 10px 0 20px;
        }
    }
    .social {
        ul {
            list-style: none;
            margin-top: 7em;
            li {
                a{
                    display: block;
                    color: $flatWhite;
                    font-size: 1.5em;
                    margin-bottom: 30px;
                    border: 1px solid $flatWhite;
                    width: 85%;
                    padding: 10px;
                    text-align: center;
                    &:hover {
                        color: $primary;
                        border: 1px solid $primary;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 768px) {
    .sidebar {
        display: none;
    }
}