- var pageTitle = 'Portfolio'
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        include pug/layout/styles
    body 
        .page 
            include pug/layout/header
            include pug/layout/sidebar
            .page-content 
                include pug/components/portfolio
            include pug/layout/orderbanner
            include pug/layout/footer
            include pug/layout/rights

        include pug/layout/scripts