.about-view 
    .container 
            .about-heading 
                h6 About
                h1 All about <span class='primary'>developers</span> team
            h3.staff-word Staff :
            .team-desc 
                .element 
                    img(src='src/person.jpg')
                    h3 Fisrt person
                    .box 
                        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit dignissimos tempora assumenda nemo quae quibusdam optio id nihil ipsa molestias, a ut rem repellat, iure explicabo provident odit dolor. Amet.
                .element 
                    img(src='src/person.jpg')
                    h3 second person
                    .box 
                        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit dignissimos tempora assumenda nemo quae quibusdam optio id nihil ipsa molestias, a ut rem repellat, iure explicabo provident odit dolor. Amet.
                .element 
                    img(src='src/person.jpg')
                    h3 third person
                    .box 
                        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit dignissimos tempora assumenda nemo quae quibusdam optio id nihil ipsa molestias, a ut rem repellat, iure explicabo provident odit dolor. Amet.