.home-view
    .section-one.heading
        .container 
            h1 Hey there!
            h1 We are WeDev 
            h2 A <span>full stack</span> solution company
            .button 
                a(href='#intro') let's start <i class="fa fa-solid fa-arrow-right"></i> 

    .section-two#intro
        .container 
            .heading 
                .img-container
                    h3 WeDev
                    img(src='src/laptop.jpg',alt='heading img')
            .description 
                h3 innovation solutions <br> to boost your <span class='primary'>creative</span> work 
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis magni officia natus facere ab veritatis quo, tempore, et vero non accusantium accusamus quaerat! Officiis, hic similique nobis ipsum nihil quia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod necessitatibus, maiores harum facilis illo vel assumenda enim earum hic ut, consequatur consequuntur facere totam ad aspernatur perferendis pariatur ullam veniam?
                .desc-container
                    .row     
                        .element 
                            <i class="fa fa-desktop"></i>
                            .element-desc
                                h3 web design
                                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus in nesciunt dicta praesentium quae, vitae ipsam reprehenderit nisi numquam nam error porro eligendi inventore consectetur doloribus. Eligendi hic itaque accusamus. 
                        .element 
                            <i class="fa fa-mobile"></i>
                            .element-desc
                                h3 ui/ux
                                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus in nesciunt dicta praesentium quae, vitae ipsam reprehenderit nisi numquam nam error porro eligendi inventore consectetur doloribus. Eligendi hic itaque accusamus. 
                    .row
                        .element 
                            <i class="fa fa-code"></i>
                            .element-desc 
                                h3 web develope
                                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus in nesciunt dicta praesentium quae, vitae ipsam reprehenderit nisi numquam nam error porro eligendi inventore consectetur doloribus. Eligendi hic itaque accusamus. 
                        .element 
                            <i class="fa fa-copyright"></i>
                            .element-desc
                                h3 branding
                                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus in nesciunt dicta praesentium quae, vitae ipsam reprehenderit nisi numquam nam error porro eligendi inventore consectetur doloribus. Eligendi hic itaque accusamus. 
                    
                .button 
                    a(href='portfolio.html') my portfolio <i class="fa fa-solid fa-arrow-right"></i> 

    .section-three.facts
        .container  
            .head-container
                h2 some interesting <span class='primary'>facts</span><br> about us 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit reiciendis<br> hic ad officia similique.
            .desc-container 
                .element
                    span 129
                    p finished projects
                .element
                    span 230
                    p happy customers
                .element
                    span 689
                    p working hours
                .element
                    span 1530
                    p coffee cups

    .section-four.working-process 
        .container 
            .process-heading 
                h6 how i work 
                h1 my working <span class='primary'>process</span>
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo asperiores temporibus nam, laboriosam fuga blanditiis quibusdam.
            .process-desc 
                .element 
                    <i class="fa fa-comments"></i>
                    h3 discuss the project
                    .box 
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat doloribus possimus nemo repellendus. Quae laudantium.
                        a(href='#') more details 
                .element 
                    <i class="fa fa-desktop"></i>
                    h3 design and develop
                    .box 
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat doloribus possimus nemo repellendus. Quae laudantium.
                        a(href='#') more details 
                .element 
                    <i class="fa fa-flag-checkered"></i>
                    h3 final approvement
                    .box 
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat doloribus possimus nemo repellendus. Quae laudantium.
                        a(href='#') more details 
            .process-footer
                p need more info? visit my services page 
                a(href='order.html') my services
