.order-view 
    .container
        .container-img-coulmn
            .container-img
                img(src="src/300500.jpg" alt="")
            .container-img
                img(src="src/300300.jpg" alt="")
            .container-img
                img(src="src/300300.jpg" alt="")
            .container-img
                img(src="src/300300.jpg" alt="")
        .container-desc-coulmn
            .container-heading
                h1 my services
            .container-price-box
                .number 
                    span 01.
                .desc 
                    h3 web design 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat ea ut amet excepturi officiis ab ipsam iste eos atque eaque consequatur saepe est porro possimus architecto magnam recusandae, sunt optio!
                    a(href='contactus.html') 150$ - 300$
            .container-price-box
                .number 
                    span 02.
                .desc 
                    h3 UI/UX design
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat ea ut amet excepturi officiis ab ipsam iste eos atque eaque consequatur saepe est porro possimus architecto magnam recusandae, sunt optio!
                    a(href='contactus.html') 150$ - 300$
            .container-price-box
                .number 
                    span 03.
                .desc 
                    h3 Front End develope
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat ea ut amet excepturi officiis ab ipsam iste eos atque eaque consequatur saepe est porro possimus architecto magnam recusandae, sunt optio!
                    a(href='contactus.html') 199$ - 399$
            .container-price-box
                .number 
                    span 04.
                .desc 
                    h3 full package
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat ea ut amet excepturi officiis ab ipsam iste eos atque eaque consequatur saepe est porro possimus architecto magnam recusandae, sunt optio!
                    a(href='contactus.html') Start from 300$
