.portfolio-view 
    .gallery
        .gallery__column
            a.gallery__link(href="#" target="_blank")
                figure.gallery__thumb
                    img.gallery__image(src="src/300300.jpg" alt="")
                    figcaption.gallery__caption project one
            a.gallery__link(href="#" target="_blank")
                figure.gallery__thumb
                    img.gallery__image(src="src/300500.jpg" alt="")
                    figcaption.gallery__caption project two
            a.gallery__link(href="#" target="_blank")
                figure.gallery__thumb
                    img.gallery__image(src="src/300300.jpg" alt="")
                    figcaption.gallery__caption project three
        .gallery__column
            a.gallery__link(href="#" target="_blank")
                figure.gallery__thumb
                    img.gallery__image(src="src/300300.jpg" alt="")
                    figcaption.gallery__caption project four
            a.gallery__link(href="#" target="_blank")
                figure.gallery__thumb
                    img.gallery__image(src="src/300300.jpg" alt="")
                    figcaption.gallery__caption project five
            a.gallery__link(href="#" target="_blank")
                figure.gallery__thumb
                    img.gallery__image(src="src/300500.jpg" alt="")
                    figcaption.gallery__caption project six
        .gallery__column
            a.gallery__link(href="#" target="_blank")
                figure.gallery__thumb
                    img.gallery__image(src="src/300500.jpg" alt="")
                    figcaption.gallery__caption project seven
            a.gallery__link(href="#" target="_blank")
                figure.gallery__thumb
                    img.gallery__image(src="src/300300.jpg" alt="")
                    figcaption.gallery__caption project eight
            a.gallery__link(href="#" target="_blank")
                figure.gallery__thumb
                    img.gallery__image(src="src/300300.jpg" alt="")
                    figcaption.gallery__caption project nine
        .gallery__column
            a.gallery__link(href="#" target="_blank")
                figure.gallery__thumb
                    img.gallery__image(src="src/300300.jpg" alt="")
                    figcaption.gallery__caption project ten
            a.gallery__link(href="#" target="_blank")
                figure.gallery__thumb
                    img.gallery__image(src="src/300300.jpg" alt="")
                    figcaption.gallery__caption project eleven
            a.gallery__link(href="#" target="_blank")
                figure.gallery__thumb
                    img.gallery__image(src="src/300500.jpg" alt="")
                    figcaption.gallery__caption project twelve

